<h2>Paises!</h2>
<hr />
<ul class="list-group">
  <li class="list-group-item">
    <a routerLink="by-capital" routerLinkActive="active">Por capital</a>
  </li>
  <li class="list-group-item">
    <a routerLink="by-country" routerLinkActive="active">Por país</a>
  </li>
  <li class="list-group-item">
    <a routerLink="by-region" routerLinkActive="active">Por región</a>
  </li>
  <li class="list-group-item">
    <a routerLink="populationcopy" routerLinkActive="active">
      Población de España
    </a>
  </li>
</ul>
<router-outlet></router-outlet>
