<p>population works!</p>
<shared-search-box
  [placeholder]="'Search population by name...'"
  (onValue)="handleSearch($event)"
  (onDebounce)="handleDebounce($event)">
</shared-search-box>

<div class="" *ngFor="let data of filteredData">

  <h3>{{data.region}}</h3>
  <p>Year: {{data.year}}</p>
  <p>Population: {{data.population}}</p>
</div>


<!-- <mat-card-header *ngFor="let data of filteredData">
  <mat-icon>group</mat-icon>
  < <mat-card-title>{{ data.region }}</mat-card-title> -->
  <!-- <mat-card-subtitle>{{ data.year }}</mat-card-subtitle> -->
<!-- </mat-card-header> -->
