<div class="mycontainer">
  <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">

    <h2 class="card-header text-center">City:Bilbao</h2>
    <p>
      <img  src="{{iconUrl}}" alt="">
    </p>
    <div class="card-body">
      <p class="card-text">Summary:{{summary}}</p>
      <p class="card-text">Temperature: {{temperature}}</p>
      <p class="card-text">Feels like:{{feelsLikeTemp}}</p>
      <p class="card-text">Presure:{{humidity}}</p>
      <p class="card-text">Humidity:{{pressure}}</p>
  </div>

</div>
