mat-sidenav-container {
  height: 100vh; /* Займає всю висоту вікна */
  display: block;
}

mat-sidenav {
  width: 250px; /* Ширина бокового меню */
}

mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
