<div class="flex flex-column">
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input type="email" matInput [(ngModel)]="email" placeholder="Email">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Пароль</mat-label>
    <input type="password" matInput [(ngModel)]="password" placeholder="Пароль">
  </mat-form-field>

  <button mat-button mat-flat-button color="primary" (click)="onLogin()">
    <mat-icon>save</mat-icon>
    Увійти
  </button>

  <div class="flex justify-content-end mt-5">
    <a routerLink="/auth/new-account">¿Немає аккаунту?</a>
  </div>
</div>
