<p>population works!</p>
<shared-search-box
  [placeholder]="'Search population by name...'"
  (onValue)="handleSearch($event)"
  (onDebounce)="handleDebounce($event)"
>
</shared-search-box>

<shared-loading-spiner *ngIf="isLoading"></shared-loading-spiner>

<mat-card class="" *ngFor="let data of filteredData">
  <mat-card-header>
    <mat-card-title>{{ data.region }}</mat-card-title>
  </mat-card-header>
  <mat-card-subtitle>
    <div class="flex-container">
      <mat-icon>calendar_today</mat-icon>
      <span>Año: {{ data.year }}</span>
    </div>
  </mat-card-subtitle>

  <mat-card-content>
    <mat-icon>group</mat-icon> Population: {{ data.population }}
  </mat-card-content>
  <mat-card />
</mat-card>
